extends layout


block content
    div(class='container-fluid' style='padding-left:25%; margin-top:100px;')
        div(class='row')
            div(class='col-md-8 col-sm-8 col-xs-12'  )
                if article
                    form( class='font-container' action='/article/update/'+article._id method='POST')
                        fieldset
                            legend Add article form
                            div( class='form-group')
                                label(for='title') Title:
                                input( type='text' id='title' name='title' class='form-control' value=article.title)

                            div( class='form-group')
                                label(for='summary') Summary:
                                input( type='text' id='summary' name='summary' class='form-control' value=article.summary)


                            div( class='form-group')
                                label(for='category') Category:
                                input( type='text' id='category' name='category' class='form-control' value=article.category)

                            div( class='form-group')
                                label(for='pubDate') Published:
                                input( type='text' id='pubDate' name='pubDate' class='form-control' value=(article.published).toString())

                            div( class='form-group')
                                label(for='content') Content:
                                textarea( id='content' name='content' class='form-control' style='height:300px')
                                    | #{article.content}

                            div( class='form-group ' style='padding-left:40%; width:20%')
                                button( class='btn btn-success' ) Update
                else
                    form( class='font-container' action='/article/add' method='POST')
                        fieldset
                            legend Add article form
                            div( class='form-group')
                                label(for='title') Title:
                                input( type='text' id='title' name='title' placeholder='title' class='form-control')

                            div( class='form-group')
                                label(for='summary') Summary:
                                input( type='text' id='summary' name='summary' placeholder='description' class='form-control')


                            div( class='form-group')
                                label(for='category') Category:
                                input( type='text' id='category' name='category' placeholder='category of the article' class='form-control' )

                            div( class='form-group')
                                label(for='pubDate') Published:
                                input( type='datetime-local' id='pubDate' name='pubDate' placeholder='Publication date' class='form-control')

                            div( class='form-group')
                                label(for='content') Content:
                                textarea( id='content' name='content' placeholder='content of the article' class='form-control' style='height:300px')

                            div( class='form-group ' style='padding-left:40%; width:20%')
                                button( class='btn btn-success' ) Submit