extends layout


block content
    br
    hr
    h2(align='center') &nbsp;&nbsp;#{title}

    .container
        if articles != undefined
            each article in articles
                    ul.list-group
                        li.list-group-item
                            p
                                b Titre:
                                span &nbsp;#{article.title}
                        li.list-group-item
                            p
                                b Summary:
                                span &nbsp;#{article.summary}
                        li.list-group-item
                            p
                                b Category:
                                span &nbsp;#{article.category}
                        li.list-group-item
                            p
                                b Published:
                                span &nbsp;#{article.published}
                        li.list-group-item
                            p #{article.content}
                    a(href='/article/'+article._id)
                        button(class='btn btn-success' style='margin:10px 10px') &nbsp;&nbsp;Edit&nbsp;&nbsp;
                    a(href='/article/del/'+article._id)
                        button(class='btn btn-danger' style='margin:10px 10px') Delete
                    hr

    if articles == undefined
        .container
            .alert.alert-danger(role='alert' align="center") You don't have articles yet!
                p Add some articles before please!