doctype html
html
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet' href='/bootstrap/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        title Register Troov
body
    div.container-fluid
        div.row
            div.col-md-4.col-sm-4.col-xs-12
            div.col-md-4.col-sm-4.col-xs-12.bg.shadow.p-3.mb-5.bg-white.rounded
                span.pad(style='font-size:30px') Register
                form.form-container( action='/register' method='POST')
                    fieldset
                        div.control-group
                            label.control-label( for='firstname') First Name:
                            div.controls
                                input.form-control( type='text' id='firstname' name='firstname' placeholder='First Name' required='required')
                        div.control-group
                            label.control-label( for='lastname') Last Name:
                            div.controls
                                input.form-control( type='text' id='lastname' name='lastname' placeholder='Last Name' required='required')
                        div.control-group
                            label.control-label( for='username') Username:
                            div.controls
                                input.form-control( type='text' id='username' name='username' placeholder='username' required='required')
                                p.help-block(style='font-size:15px') Username can contain any letters or numbers, without spaces
                        div.control-group
                            label.control-label(for='email') E-mail:
                            div.controls
                                input.form-control( type='email' id='email' name='email' placeholder='email adresse' required='required')
                                p.help-block(style='font-size:15px') Please provide your email
                        div.control-group
                            label.control-label( for='password') Password:
                            div.controls
                                input.form-control( type='password' id='password' name='password' placeholder='password' required='required')
                                p.help-block(style='font-size:15px') Password should be at least 4 characters
                        div.control-group
                            label.control-label(for='password_confirm') Password (Confirm):
                            div.controls
                                input.form-control( type='password' id='password_confirm' name='password_confirm' placeholder='confirm password' required='required')
                                p.help-block(style='font-size:15px') Please confirm password
                        div.control-group
                            div.controls
                                button.btn.btn-success.btn-block( class='btn btn-success btn-block' type='submit') Register

                if isAlert
                    .alert.alert-danger(role='alert') #{msg}
            div.col-md-4.col-sm-4.col-xs-12