doctype html
html
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet' href='/bootstrap/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        title Sign in page Troov
body
    div(class='container-fluid')
        div(class='row')
            div(class='col-md-4 col-sm-4 col-xs-12 ')
            div(class='col-md-4 col-sm-4 col-xs-12 bg shadow p-3 mb-5 bg-white rounded '  )
                span(class='pad' style='font-size:30px') Sign In
                form( class='form-container' action='/signin' method='POST')
                    div( class='form-group')
                        label( for='username') Email
                        input( type='email' class='form-control' id='username'  name='username' aria-describedby='emailHelp' placeholder='Enter email' required)
                    div( class='form-group')
                        label( for='password') Password
                        input( type='password' class='form-control' id='password' name='password' placeholder='Password' required)
                    //div( class='form-group form-check')
                        input( type='checkbox' class='form-check-input' id='check')
                        label( class='form-check-label' for='check') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remember me
                    button(type='submit' class='btn btn-success btn-block') Submit
                    span Don't have an account yet?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        a(class='label label-primary' href='/register') Register now
                if isAlert
                    if type == 'danger'
                        .alert.alert-danger(role='alert') #{msg}
                    else
                        .alert.alert-success(role='alert') #{msg}
            div(class='col-md-4 col-sm-4 col-xs-12')