.bg{background: url(/images/bg-01.jpg)no-repeat; margin-top:10vh; }
.form-container{padding: 50px 60px; margin-top: 20vh;font-family: Arial, Geneva, Helvetica, sans-serif;}
.pad{font-size: 20px; color: white; padding-left: 40%;padding-top: 50vh;}

.addform{
    padding: 50px 60px; margin-top: 20vh;font-family: Arial, Geneva, Helvetica, sans-serif;
    margin-left: 20%;
}
